<div class="card">
    <div class="card-body">
        <h5 class="card-title">Update menu</h5>
        <p class="card-title">Image id: {{imageId}}</p>
        <hr class="bold-hr">
        <form [formGroup]="form">
            <div class="mb-3">
                <label for="imageUrl" class="form-label">Image url</label>
                <div class="input-group">
                    <span class="input-group-text">https: OR http:</span>
                    <input type="text" id="imageUrl" class="form-control" formControlName="imageUrl">
                </div>
            </div>

            <div class="mb-3" style="width: 300px">
                <div class="input-group mb-3">
                    <span class="input-group-text">Main image</span>
                    <select id="mainImage" class="form-select" formControlName="mainImage">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </div>
            </div>

            <div class="frame">
                <img [src]="form.controls.imageUrl.value" class="card-img-top" *ngIf="(isValidSrc$ | async)" alt="...">
            </div>

            <div class="row" *ngIf="(isUpdated$ | async)">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible fade show">
                        <span class="material-symbols-outlined">check_circle</span>
                        Image updated!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" (click)="updateImage()" [class.disabled]="!(isSubmit | async)">
                Update
            </button>
        </form>
    </div>
</div>
