<nav class="navbar border-bottom border-bottom-dark navbar-expand-lg bg-dark" data-bs-theme="dark"
     style="border-radius: 10px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Drones</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Brands
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="plp/brand/DJI">DJI</a></li>
                        <li><a class="dropdown-item" href="plp/brand/PARROT">PARROT</a></li>
                        <li><a class="dropdown-item" href="plp/brand/AUTEL">AUTEL</a></li>
                        <li><a class="dropdown-item" href="plp/brand/WALKERA">WALKERA</a></li>
                        <li><a class="dropdown-item" href="plp/brand/OTHER">OTHER</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="plp/category/RACING">RACING</a></li>
                        <li><a class="dropdown-item" href="plp/category/SELFIE">SELFIE</a></li>
                        <li><a class="dropdown-item" href="plp/category/PROFESSIONAL">PROFESSIONAL</a></li>
                    </ul>
                </li>
            </ul>
            <app-search class="m-1" style="width: 100%;"></app-search>
            <ng-container class="d-flex user-action" *ngIf="{ isLoggedIn: isLoggedIn$ | async } as config">
                <ul class="navbar-nav" *ngIf="config.isLoggedIn">
                    <li class="nav-item dropdown" style="color: white">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span class="material-symbols-outlined">account_box</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/cart" *ngIf="(hasRole$ | async) === 'CUSTOMER'">
                                    View my cart
                                </a>
                            </li>
                            <li><a class="dropdown-item" role="button" (click)="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav" *ngIf="(hasRole$ | async) === 'ADMIN' || (hasRole$ | async) === 'MANAGER'">
                    <li class="nav-item dropdown" style="color: white">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span class="material-symbols-outlined">add_box</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" role="button" href="/crud/drones">New drone</a></li>
                            <li><a class="dropdown-item" role="button" href="/crud/drones/items">All drones</a></li>
                            <li><a class="dropdown-item" role="button" href="/crud/images">New image</a></li>
                            <li><a class="dropdown-item" role="button" href="/crud/images/items">All images</a></li>
                            <li><a class="dropdown-item" role="button" href="/crud/process">Attach/detach</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" role="button" href="/statistic">Statistic</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav" *ngIf="(hasRole$ | async) === 'ADMIN'">
                    <li class="nav-item dropdown" style="color: white">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span class="material-symbols-outlined">group</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" role="button" href="/admin-crud">Create new manager</a></li>
                            <li><a class="dropdown-item" role="button">Check all users</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav" *ngIf="!config.isLoggedIn">
                    <li class="nav-item dropdown" style="color: white">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span class="material-symbols-outlined">check_box_outline_blank</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
</nav>
