<nav class="navbar border-bottom border-bottom-dark navbar-expand-lg bg-dark" data-bs-theme="dark" style="border-radius: 10px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Drones</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Brands
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="plp/brand/DJI">DJI</a></li>
                        <li><a class="dropdown-item" href="plp/brand/PARROT">PARROT</a></li>
                        <li><a class="dropdown-item" href="plp/brand/AUTEL">AUTEL</a></li>
                        <li><a class="dropdown-item" href="plp/brand/WALKERA">WALKERA</a></li>
                        <li><a class="dropdown-item" href="plp/brand/OTHER">OTHER</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="plp/category/RACING">RACING</a></li>
                        <li><a class="dropdown-item" href="plp/category/SELFIE">SELFIE</a></li>
                        <li><a class="dropdown-item" href="plp/category/PROFESSIONAL">PROFESSIONAL</a></li>
                    </ul>
                </li>
            </ul>
            <app-search class="m-1" style="width: 100%;"></app-search>
        </div>
    </div>
</nav>
