<div class="row" *ngIf="(isError$ | async)">
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible fade show">
            <span class="material-symbols-outlined">check_circle</span>
            Ops, something went wrong, check the data and try again!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-0">
        <h2 class="text-center fw-semibold">Login</h2>
        <form [formGroup]="form">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="email" class="form-control" formControlName="username">
                <div class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <p class="text-start">
                First time?
                <a href="/register" class="link-underline-light">
                    Click here to register
                </a>
            </p>
            <button type="submit" class="btn btn-primary" [disabled]="!(isSubmit | async)" (click)="login()">Log in
            </button>
        </form>
    </div>
</div>
