<div class="card">
    <div class="card-body">
        <h5 class="card-title">User activity menu</h5>
        <hr class="bold-hr">
        <ng-container *ngIf="(users$ | async) as data">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody *ngFor="let user of data.items">
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.role.toLowerCase()}}</td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="disableUser(user.id)" *ngIf="user.isEnabled">Enabled</button>
                        <button type="button" class="btn btn-danger" (click)="enableUser(user.id)" *ngIf="!user.isEnabled">Disable</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="col-12 d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" role="button" [class.disabled]="data.first" (click)="showPage(0)">
                            &laquo;
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" role="button" (click)="showPage(data.page - 1)" *ngIf="data.previous">
                            {{data.page}}
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link">
                            {{data.page + 1}}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" role="button" (click)="showPage(data.page + 1)" *ngIf="data.next">
                            {{data.page + 2}}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" role="button" [class.disabled]="data.last"
                           (click)="showPage(data.totalPages - 1)">
                            &raquo;
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
</div>
