<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="col">
                <div class="row item text text-center">
                    <p>
                        Stay updated with the latest news, promotions, and events by following me on my social media
                        channels. Join my vibrant community today!
                    </p>
                </div>
                <div class="col item social">
                    <a href="https://www.instagram.com/vitalik_frants/"><i class="icon ion-social-instagram"></i></a>
                    <a href="https://github.com/LuckyIntegral"><i class="icon ion-social-github"></i></a>
                    <a href="https://www.facebook.com/vitalik.frants"><i class="icon ion-social-facebook"></i></a>
                </div>
            </div>
            <p class="copyright">Created by Frants Vitalii © 2023</p>
        </div>
    </footer>
</div>