<div class="card">
    <div class="card-body">
        <h5 class="card-title">Update menu</h5>
        <p class="card-title">Drone id: {{droneId}}</p>
        <hr class="bold-hr">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <select id="brand" class="form-select" formControlName="brand">
                            <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
                        </select>
                        <span class="input-group-text">Brand</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <select id="category" class="form-select" formControlName="category">
                            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                        </select>
                        <span class="input-group-text">Category</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <select id="fpv" class="form-select" formControlName="fpv">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                        <span class="input-group-text">FPV</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Camera resolution</span>
                        <input type="text" id="cameraResolution" class="form-control"
                               formControlName="cameraResolution">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="text" id="battery" class="form-control" formControlName="battery">
                        <span class="input-group-text">Battery</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="text" id="flyTime" class="form-control" formControlName="flyTime">
                        <span class="input-group-text">Fly time</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3">
                        <span class="input-group-text">Description</span>
                        <textarea id="description" class="form-control" formControlName="description"
                                  style="height: 205px"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <input type="number" id="price" class="form-control" formControlName="price"
                               placeholder="In cents">
                        <span class="input-group-text">Price</span>
                    </div>
                    <div *ngIf="form.get('price')?.status === 'INVALID'" class="alert alert-danger">
                        <span class="material-symbols-outlined">warning</span>
                        Price must be a positive number.
                    </div>

                    <div class="input-group mb-4">
                        <input type="number" id="quantity" class="form-control" formControlName="quantity">
                        <span class="input-group-text">Quantity</span>
                    </div>
                    <div *ngIf="form.get('quantity')?.status === 'INVALID'" class="alert alert-danger">
                        <span class="material-symbols-outlined">warning</span>
                        Quantity must be a positive number.
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="isUpdated$ | async">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible fade show">
                        <span class="material-symbols-outlined">check_circle</span>
                        Drone updated!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!isSubmit" (click)="updateCopter()">
                Update
            </button>
        </form>
    </div>
</div>

